body{
    background-color: rgb(5, 5, 5);
     color: white;
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: left;
    color: yellowgreen;
    font-style: italic;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
.first{
    max-width: 100%;
    height: auto;
}
.second{
    max-width: 100%;
    height: auto;
}
.third{
    max-width: 100%;
    height: auto;
}